/* ##############################################################################

    DEFAULT

############################################################################## */
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  font: 14px/1.231 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  padding-top: 56px;
  font-feature-settings: "palt";
  line-height: 1.8;
  letter-spacing: .02em;
  color: #444e4e;
  background-color: #f0f1f7;
  -webkit-font-smoothing: antialiased;
}
@media all and (-ms-high-contrast:none) {
  body {
    font-family: "メイリオ", Meiryo, 'Lato', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  }
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol { list-style: none; }
small { font-size: 86%; }
a {
  color: #525d5d;
  text-decoration: none;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline : none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield !important;
}

@media only screen and (min-width: 768px) {
  a {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  @-moz-document url-prefix() {
    * { font-feature-settings: "palt"; }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    * { font-feature-settings: "palt"; }
  }
}

@media only screen and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ##############################################################################

    ANIMATION

############################################################################## */

/* keyframes
*************************************************** */
@keyframes loading_mov {
  0% {
    transform: rotate(0deg);
    color: #F29600;
  }
  50% {
    transform: rotate(180deg);
    color: #FFE680;
  }
  100% {
    transform: rotate(360deg);
    color: #F29600;
  }
}
.ts4 { transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1); }


/* ##############################################################################

    COMMON

############################################################################## */

/* color
**************************************** */
.light_tone {
  color: #75bdd5;
}

/* show & hide / to_detail
**************************************** */
.startup,
.datatable {
  /* display: none; */
}
.to_detail:hover {
  cursor: pointer;
}

/* layout
**************************************** */

/* --- float --- */
.flt-rgt { float: right; }
.flt-lft { float: left; }
.flt-ctr { float: center; }

/* --- position --- */
.pos_rel {
  position: relative;
  z-index: 0;
}

/* --- margin --- */
.mgn-btm4 { margin-bottom: 4px; }
.mgn-btm8 { margin-bottom: 8px; }
.mgn-btm16 { margin-bottom: 16px; }
.mgn-btm24 { margin-bottom: 24px; }
.mgn-btm32 { margin-bottom: 32px; }
.mgn-btm40 { margin-bottom: 40px; }
.mgn-btm48 { margin-bottom: 48px; }
.mgn-btm56 { margin-bottom: 56px; }
.mgn-btm64 { margin-bottom: 64px; }
.mgn-btm72 { margin-bottom: 72px; }
.mgn-btm80 { margin-bottom: 80px; }

.mgn-lft4 { margin-left: 4px; }
.mgn-lft8 { margin-left: 8px; }
.mgn-lft16 { margin-left: 16px; }
.mgn-lft24 { margin-left: 24px; }
.mgn-lft32 { margin-left: 32px; }

/* --- pc or sp --- */
.pc-none,
.pc-none-inline,
.pc-none-table,
.pc-none-flex { display: none; }
.sp-none { display: block; }
.sp-none-inline { display: inline; }
.sp-none-table { display: table; }
.sp-none-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and  (max-width: 767px) {
  .inner { width: 86%; }
  .mgn-btm16 { margin-bottom: 8px; }
  .mgn-btm24 { margin-bottom: 16px; }
  .mgn-btm32 { margin-bottom: 16px; }
  .mgn-btm40 { margin-bottom: 24px; }
  .mgn-btm48 { margin-bottom: 24px; }
  .mgn-btm56 { margin-bottom: 32px; }
  .mgn-btm64 { margin-bottom: 32px; }
  .mgn-btm72 { margin-bottom: 40px; }
  .mgn-btm80 { margin-bottom: 40px; }

  .mgn-lft4 { margin-left: 4px; }
  .mgn-lft8 { margin-left: 8px; }
  .mgn-lft16 { margin-left: 16px; }
  .mgn-lft24 { margin-left: 24px; }
  .mgn-lft32 { margin-left: 32px; }

  .sp-none,
  .sp-none-inline,
  .sp-none-table,
  .sp-none-flex { display: none; }
  .pc-none { display: block; }
  .pc-none-inline { display: inline; }
  .pc-none-table { display: table; }
  .pc-none-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* flex
**************************************** */

/* --- ブロック要素 --- */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* --- インライン要素 --- */
.flex-inline {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* --- 逆向き --- */
.flex-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* --- 縦並び --- */
.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* --- 水平方向揃え --- */
.flex-j-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-j-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-j-ctr {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-j-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-j-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* --- 垂直方向揃え --- */
.flex-a-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-a-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex-a-ctr {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-a-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex-a-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* --- 子要素の折り返し設定 --- */
.flex-c-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-c-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* --- 子要素の複数行設定 --- */
.flex-c-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex-c-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex-c-start {
  -webkit-align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex-c-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.flex-c-ctr {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.flex-c-baseline {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
}
.flex-c-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/* --- ざっくりflexレイアウト --- */
.flex-col2,
.flex-col3,
.flex-col4 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-col2 > * {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.flex-col2 > *:nth-child(even) { margin-right: 0; }
.flex-col3 > * {
  width: 31.33%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.flex-col3 > *:nth-child(3n+3) { margin-right: 0; }
.flex-col4 > * {
  width: 24.5%;
  margin-right: .66%;
  margin-bottom: .66%;
}
.flex-col4 > *:nth-child(4n+4) { margin-right: 0; }
.flex.no_mgn > * {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1200px) {
  .flex-col4.flex-smpc-col3 > *,
  .flex-col4.flex-smpc-col3 > *:nth-child(4n+4) {
    width: 32.89%;
    margin-right: .66%;
    margin-bottom: .66%;
  }
  .flex-col4.flex-smpc-col3 > *:nth-child(3n+3) { margin-right: 0; }
}

@media screen and (max-width: 768px) {

  /* --- 縦並び - sp --- */
  .flex-sp-block {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* --- ざっくりflexレイアウト - sp --- */
  .flex-sp-col2 > *,
  .flex-sp-col2.flex-col3 > *:nth-child(3n+3),
  .flex-sp-col2.flex-col4.flex-smpc-col3 > *,
  .flex-sp-col2.flex-col4.flex-smpc-col3 > *:nth-child(4n+4) {
    width: 49.3%;
    margin-right: 1.3%;
    margin-bottom: 1.3%;
  }
  .flex-sp-col2 > *:nth-child(even),
  .flex-sp-col2.flex-col4.flex-smpc-col3 > *:nth-child(even),
  .flex-sp-col2.flex-col4.flex-smpc-col3 > *:nth-child(4n+4):nth-child(even) { margin-right: 0; }
  .flex-sp-col3 > *,
  .flex-sp-col3.flex-col4 > *:nth-child(4n+4) {
    width: 31.33%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .flex-sp-col3 > *:nth-child(3n+3) { margin-right: 0; }

}

/* wht_bloc
**************************************** */
.wht_bloc {
  margin-bottom: 24px;
  padding: 18px;
  background-color: #fff;
  border: 1px solid #eaeaeb;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 5px;
}
.wht_bloc-pdg_sm {
  padding-top: 16px;
  padding-bottom: 16px;
}
.wht_bloc.no_style {
  border: none;
}

/* ttl
**************************************** */
.heading-1 {
  font-size: 144%;
  color: #F29600;
  margin-bottom: 6px;
}
.heading-2 {
  font-size: 128%;
  margin-bottom: 6px;
  font-weight: bold;
}
.heading-1:not(:first-child),
.heading-2:not(:first-child) {
  margin-top: 16px;
}
.heading-3 {
  font-weight: bold;
}
.heading-3 .bx {
  opacity: .25;
  margin-right: 2px;
}
.heading-1.no_mgn,
.heading-2.no_mgn,
.heading-3.no_mgn {
  margin-bottom: 0;
}

/* txt
**************************************** */
.txt-ctr { text-align: center !important; }
.txt-rgt { text-align: right !important; }
.txt-lft { text-align: left !important; }
.bold { font-weight: bold; }

/* filter
**************************************** */
.filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}
.filter:not(:last-child) { margin-right: 24px; }
.filter dt {
  font-weight: bold;
  margin-right: 12px;
}
.filter dd {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 93%;
}
.filter input[type="radio"],
.filter input[type="checkbox"] { display: none !important; }
.filter label {
  position: relative;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
  line-height: 1em;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}
.form-group:not(.flex) .filter label {
  margin-bottom: 0;
}
.filter input[type="radio"]:checked + label,
.filter input[type="checkbox"]:checked + label {
  background-color: #F29600;
  color: #fff;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .filter input[type="radio"] + label:hover,
  .filter input[type="checkbox"] + label:hover {
    color: #F29600;
  }
  .filter input[type="radio"]:checked + label:hover,
  .filter input[type="checkbox"]:checked + label:hover {
    color: #fff;
  }
}

/* btn
**************************************** */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #f29600;
  border-radius: 3px;
  background: #f29600;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 93%;
  outline: none;
  cursor: pointer;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* --- btn-style --- */
.btn-line,
.btn-flat {
  background: transparent;
  border: 1px solid;
  color: #f29600;
}
.btn-flat {
  border: none;
}
.btn-txt {
  text-decoration: underline;
  opacity: .7;
}

/* --- btn-size --- */
.btn-xl {
  font-size: 123%;
  height: 50px;
  line-height: 48px;
  min-width: 240px;
  border-width: 2px;
}
.btn-lg {
  font-size: 116%;
  height: 40px;
  line-height: 40px;
  min-width: 200px;
}
.btn-lg-slim{
  min-width: 120px !important;
}
.btn-sm {
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  line-height: 24px;
  font-size: 85%;
  min-width: 82px;
}
.btn-full {
  width: 100%;
}

/* --- btn-color --- */
.btn-info {
  background-color: #54c377;
  border-color: #54c377;
}
.btn-warning {
  background-color: #55556f;
  border-color: #55556f;
}
.btn-danger {
  background-color: #f55e5e;
  border-color: #f55e5e;
}
.btn-thin {
  background-color: #FDF4E7;
  border-color: #FDF4E7;
  color: #F29600;
}
.btn-info.btn-thin {
  background-color: #e8eaec;
  border-color: #e8eaec;
  color: #898e96;
}
.btn-warning.btn-thin {
  background-color: #fef8e5;
  border-color: #fef8e5;
  color: #ffc646;
}
.btn-danger.btn-thin {
  background-color: #fce8eb;
  border-color: #fce8eb;
  color: #ff5c5c;
}
.btn-info.btn-line,
.btn-warning.btn-line,
.btn-danger.btn-line,
.btn-info.btn-flat,
.btn-warning.btn-flat,
.btn-danger.btn-flat {
  background: transparent;
}
.btn-info.btn-line,
.btn-info.btn-flat {
  background-color: #fff;
  color: #a8afb9;
}
.btn-warning.btn-line,
.btn-warning.btn-flat {
  color: #f7b73c;
}
.btn-danger.btn-line,
.btn-danger.btn-flat {
  color: #ff5c5c;
}
.bx {
  transform: translateY(-2px);
  font-size: 124%;
  margin-right: 4px;
}
.bx.bx-no_mgn {
  margin-right: 0;
}
.bxs-user-plus {
  font-size: 149%;
}

.is_disabled {
  opacity: .5;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  button:hover,
  /*button:focus,*/
  .btn:hover {
    background: transparent;
    color: #F29600;
  }
  .btn-line:hover {
    background: #FDF4E7;
  }
  .btn-flat:hover {
    opacity: .5;
  }
  .btn-thin:hover {
    color: #fff;
    background-color: #F29600;
  }
  .btn-info:hover {
    color: #a8afb9;
  }
  .btn-warning:hover {
    color: #f7b73c;
  }
  .btn-danger:hover {
    color: #ff5c5c;
  }
  .btn-info.btn-line:hover,
  .btn-info.btn-line:focus {
    color: #fff;
    border-color: rgba(191, 194, 194, .7);
    background: rgba(191, 194, 194, .7);
    box-shadow: 0 1px 2px rgba(191, 194, 194, .7);
  }
  .btn-warning.btn-line:hover {
    background: rgba(247, 183, 60, 0.1);
  }
  .btn-danger.btn-line:hover {
    background: rgba(237, 96, 119, 0.1);
  }
  .btn-info.btn-thin:hover,
  .btn-info.btn-thin:focus {
    color: #fff;
    border-color: #a8adb5;
    background-color: #a8adb5;
  }
  .btn-warning.btn-thin:hover {
    color: #fff;
    border-color: #ffc646;
    background-color: #ffc646;
  }
  .btn-danger.btn-thin:hover {
    color: #fff;
    border-color: #ff5c5c;
    background-color: #ff5c5c;
  }
  .btn-txt:hover {
    text-decoration: none;
    opacity: 1;
  }
}

/* btn_list
**************************************** */
.btn_list.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.btn_list button:not(:last-child) {
  margin-right: 12px;
}

/* pager
**************************************** */
.pager {
  margin: 10px;
  width: 100%;
}

.pager ul li {
  display: inline-block;
}

.pager li.active span {
  pointer-events: none;
  background-color: #F29600;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 11px;
  padding-right: 11px;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  line-height: 1em;
  outline: none;
  cursor: pointer;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pager li:not(.active) a {
  background-color: #fff;
  border: 1px solid #a8afb9;
}

.pager li:not(:last-child) {
  margin-right: 3px;
}

.pager ul li a {
  display: block;
  border: 1px solid #F29600;
  border-radius: 3px;
  background: #33aaff;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 85%;
  line-height: 1em;
  outline: none;
  cursor: pointer;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pager ul li.disabled {
  color: #a8afb9;
  border: 1px solid;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.pager .bx {
  transform: translateY(-1px);
}
@media screen and (min-width: 768px) {
  .pager span:not(.current):hover {
    color: #F29600;
    border-color: #F29600;
  }
}

/* form
**************************************** */

/* --- style --- */
.form-group:not(:last-child) {
  margin-bottom: 16px;
}
.flex > .form-group:not(:last-child) {
  margin-bottom: 0;
}
.form-group label {
  display: block;
}
.form-group:not(.flex) label {
  margin-bottom: 4px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group input[type="month"],
.form-group textarea,
.form-group select {
  -webkit-appearance: none;
  max-width: 100%;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  vertical-align: middle;
  color: #525d5d;
  font-size: 108%;
  letter-spacing: .04em;
  background-color: #fff;
  border: none;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.btn_list #submit:focus {
  color: #F29600;
  background: transparent;
}
.form-group .delete:hover,
.form-group .delete:focus {
  color: #fff;
  border-color: #ff5c5c;
  background-color: #ff5c5c;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group input[type="month"],
.form-group select {
  min-width: 220px;
  padding-right: 20px;
  border: 1px solid #d3d7d7;
}
.form-group select {
  padding-right: 28px;
}
.form-group input.input-lg {
  min-width: 420px;
}
.form-group input.input-sm,
.form-group select.select-sm {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 100%;
  min-width: 160px !important;
}
.form-group input.input-mn {
  min-width: 75px;
  width: 75px;
}
.form-group select.select-mn {
  width: 75px;
  height: 30px;
}
.form-group select.select-sm {
  height: 30px;
}

/* --- input-full --- */
.form-group input.input-full {
  min-width: 100%;
}
.form-group textarea {
  width: 100%;
  height: 8.4em;
  border: 1px solid #eef3f3;
  line-height: 1.8em;
  resize: none;
}
.form-group .textarea-sm {
  height: 6.7em;
}
.form-group .textarea-lg {
  height: 13.8em;
}
.form-group select {
  height: 37px;
  line-height: 1em;
  background-image: url(../images/common/icon-arrow.png);
  background-size: 8px 5px;
}
.form-group .input-num {
  color: #d3d7d7;
}
.form-group .input-num input:not(:last-child) {
  margin-right: 4px;
}
.form-group .input-num input:not(:first-child) {
  margin-left: 4px;
}
.form-group .input-num input[type="text"] {
  min-width: 4.6em;
}
.form-group input.datepicker-here {
  background-image: url(../images/common/icon-calendar.png);
  background-size: 15px 17px;
  min-width: 140px;
}
.form-group select,
.form-group input.datepicker-here {
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.form-group ul li input[type="radio"],
.form-group ul li input[type="checkbox"] {
  display: none !important;
}
.form-group ul li label {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 8px 0 22px;
  vertical-align: top;
  line-height: 32px;
  cursor: pointer;
}
.form-group ul.flex li:not(:last-child) { margin-right: 16px; }
.form-group:not(.flex) ul li label {
  margin-bottom: 0;
}
.form-group ul li label:hover { opacity: .7; }
.form-group ul li label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #d3d7d7;
  left: 0;
  top: 8px;
}
.form-group ul li input[type="radio"] + label::before {
  border-radius: 10px;
}
.form-group ul li input[type="radio"]:checked + label,
.form-group ul li input[type="checkbox"]:checked + label{
  color: #F29600;
  font-weight: bold;
}
.form-group ul li input[type="radio"]:checked + label::before,
.form-group ul li input[type="checkbox"]:checked + label::before {
  border-color: #F29600;
}
.form-group ul li input[type="radio"]:checked + label::before {
  background-color: #F29600;
}
.form-group ul li input[type="radio"]:checked + label::after,
.form-group ul li input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
}
.form-group ul li input[type="radio"]:checked + label::after {
  top: 13px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.form-group ul li input[type="checkbox"]:checked + label::after {
  top: 12px;
  left: 6px;
  width: 4px;
  height: 7px;
  border-right: 1px solid #F29600;
  border-bottom: 1px solid #F29600;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --- search --- */
.input-search {
  position: relative;
}
.input-search input[type="text"] {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-search button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 12px;
  padding-right: 8px;
  min-width: 68px;
}
.input-search .bx {
  top: 50%;
  left: 8px;
  margin-left: 4px;
  margin-right: 0;
  font-size: 120%;
  pointer-events: none;
}
.form-group.input-search input[type="text"],
.form-group .input-search input[type="text"] {
  width: 180px;
}

/* --- td_duration --- */
.table-horizon td.td_duration {
  width: 96px;
}
.table-horizon .form-group.td_duration input.input-sm,
.table-horizon .form-group.td_duration select.select-sm {
  min-width: 80px !important;
}
.table-horizon .form-group button.delete {
  min-width: auto;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .1);
}


/* --- placeholder --- */
.form-group input:placeholder-shown,
.form-group textarea:placeholder-shown {
  color: #b5b9b9;
}
.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
  color: #b5b9b9;
}
.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
  color: #b5b9b9;
  opacity: 1;
}
.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
  color: #b5b9b9;
  opacity: 1;
}
.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
  color: #b5b9b9;
}

@media screen and (max-width: 768px) {
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="password"],
  .form-group select,
  .form-group input.input-lg {
    min-width: 100%;
  }
}

/* table-horizon
**************************************** */

/* --- default --- */
.table-horizon {
  width: calc(100% + 36px);
  transform: translateX(-18px);
  color: #444;
}
.table-horizon > thead > tr {
  transition: .2s;
  width: 100%;
}
.table-horizon > thead > tr .th_check {
  width: 32px;
}
.table-horizon > thead > tr > th,
.table-horizon > tbody > tr > td {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: middle;
  white-space: nowrap;
}
.table-horizon > thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fff;
  color: #F29600;
  font-size: 93%;
  text-align: left;
}
.table-horizon > thead > tr > th::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececf1;
}
.table-horizon > thead > tr > th::after {
  bottom: -1px;
}
.table-horizon > tbody > tr > td {
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-horizon > thead > tr > th.th_check,
.table-horizon > tbody > tr > td.td_check {
  width: 32px;
  cursor: pointer;
}
.table-horizon > tbody > tr > td.td_control {
  width: 60px;
  padding: 10px 5px;
}
.table-horizon > tbody > tr > td.td_time {
  width: 30px;
  padding: 10px 5px;
  text-align: center;
}
.table-horizon > tbody > tr > td.td_tilde {
  padding: 10px 10px 10px 20px;
}
.table-horizon > tbody > tr > td.td_tilde:after {
  margin: 0 0 0 10px;
  content: "〜";
}
.table-horizon input[type="checkbox"] {
/*  display: none !important; */
}
.table-horizon input[type="checkbox"] + label {
  display: none !important;
  position: absolute;
/*  display: inline-block; */
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 14px;
  vertical-align: top;
  pointer-events: none;
}
.table-horizon input[type="checkbox"] + label:hover {
  opacity: .7;
}
.table-horizon input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #d3d7d7;
}
.table-horizon input[type="checkbox"]:checked + label {
  color: #F29600;
  font-weight: bold;
}
.table-horizon input[type="checkbox"]:checked + label::before {
  border-color: #F29600;
}
.table-horizon input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 3px;
  left: 5px;
  width: 4px;
  height: 7px;
  border-right: 1px solid #F29600;
  border-bottom: 1px solid #F29600;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-list li {
  width: 20%;
}
.radio-list li:not(:last-child) {
  margin-right: 24px;
}
.table-horizon .th_delete,
.table-horizon .td_delete {
  width: 32px;
}
.table-horizon .td_delete i {
  color: #999;
  cursor: pointer;
}
.table-horizon .td_delete i:hover,
.table-horizon .td_delete i.active {
  color: #31A9D6;
}
.table-horizon .td_delete--item {
  position: absolute;
  right: 0;
  bottom: -16px;
  z-index: 5;
  display: none;
  background-color: #fff;
}
.table-horizon .active +.td_delete--item {
  display: block;
}
.table-horizon .is-hide {
  display: none;
}


/* --- table-striped --- */
.table-horizon.table-striped > tbody > tr {
  background-color: #fff;
}
.report-detail .table-horizon.table-striped > tbody > tr > td {
  padding: 4px;
}

/* --- table-sm --- */
.table-horizon.table-sm > thead > tr > th,
.table-horizon.table-sm > tbody > tr > td {
  padding-left: 12px;
  padding-right: 12px;
}
.table-horizon.table-sm > thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
.table-horizon.table-sm > tbody > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 36px;
  font-size: 92%;
  line-height: 1.7em;
}
.table-horizon.table-sm > thead > tr > th,
.table-horizon.table-sm > tbody > tr > td {
  border-bottom: 1px solid #f5f5f7;
}

/* --- table-sm & txt-lg --- */
.table-horizon.table-sm.txt-lg > thead > tr > th {
  font-size: 93%;
}
.table-horizon.table-sm.txt-lg > tbody > tr > td {
  font-size: 100%;
}

/* --- no_style --- */
.table-horizon.no_style > thead > tr {
  border-top: none;
  border-bottom: none;
}
.table-horizon.no_style > thead > tr > th:not(:first-child),
.table-horizon.no_style > tbody > tr > td:not(:first-child) {
  border-left: none;
}
.table-horizon.no_style > thead > tr > th {
  top: -1px;
}
.table-horizon.no_style > thead > tr > th,
.table-horizon.no_style > tbody > tr > td {
  padding: 4px;
  background-color: transparent;
}
.table-horizon.no_style > thead > tr > th::before,
.table-horizon.no_style > thead > tr > th::after {
  content: none;
}
.table-horizon.no_style > tbody > tr:nth-child(odd) {
  background-color: transparent;
}

/* --- scroll_table --- */
.scroll_table {
  overflow-x: scroll;
  width: calc(100% + 36px);
  transform: translateX(-18px);
  max-height: 70vh;
}
.scroll_table-wrap .scroll_table {
  width: 100%;
  transform: none;
}
.scroll_table-sm {
  max-height: 35vh;
}
.scroll_table .table-horizon {
  width: 100%;
  transform: translateX(0);
}

/* --- no_data --- */
.table-horizon.table-sm > tbody > tr.no_data > td {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: bold;
  opacity: .5;
}

.table-horizon .form-group input,
.table-horizon .form-group input.input-sm,
.table-horizon .form-group select,
.table-horizon .form-group select.select-sm {
  min-width: 100%;
}
table .table-horizon {
  width: 100%;
  transform: none;
}
@media screen and (min-width: 768px) {
  .table-horizon:not(.no_hov) tbody tr:hover {
    background-color: rgba(253, 244, 231, .5);
  }
}

/* table-vertical
**************************************** */
.table-vertical {
  width: 100%;
}
.table-vertical > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #ececf1;
}
.table-vertical > tbody > tr > th,
.table-vertical > tbody > tr > td {
  height: 64px;
  padding-top: 13px;
  padding-bottom: 13px;
  vertical-align: middle;
}
.table-vertical > tbody > tr > th {
  text-align: left;
  font-size: 93%;
  width: 160px;
  padding-right: 24px;
  white-space: nowrap;
}
.table-vertical .scroll_table {
  width: 100%;
  transform: none;
}
.table-vertical > tbody > tr > td .table-vertical {
  border: none;
}
.table-vertical.table-sm > tbody > tr > th,
.table-vertical.table-sm > tbody > tr > td {
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-vertical.table-sm > tbody > tr > th {
  font-size: 86%;
}
@media screen and (max-width: 768px) {
  .table-vertical > tbody > tr > th,
  .table-vertical > tbody > tr > td {
    display: block;
    height: auto;
  }
  .table-vertical > tbody > tr > th {
    padding-top: 10px;
    padding-bottom: 3px;
  }
  .table-vertical > tbody > tr > td {
    padding-top: 3px;
  }
}

/* swal-button (sweat alert)
**************************************** */
.swal-button {
  height: 41px;
  color: #fff;
  line-height: 41px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #ff9a19;
  border-radius: 3px;
  background-color: #ff9a19;
}
.swal-button--cancel,
.swal-button--cancel:focus {
  background-color: #f2f3f5;
  border-color: #f2f3f5;
  color: #a8adb5;
}
.swal-button--pass {
  border: 1px solid #ff9a19;
  background-color: #ff9a19;
}
.swal-button--fail {
  border: 1px solid #ff6a59;
  background-color: #ff6a59;
}
.swal-button--instruction {
  background-color: #f2f3f5;
  border-color: #f2f3f5;
  color: #a8adb5;
}
.swal-button--instruction:focus,
.swal-button--instruction:hover {
  color: #a8adb5;
}
.swal-footer {
  text-align: center;
  margin-bottom: 16px;
}
.swal-icon--success__ring {
  border: 4px solid rgba(84, 181, 110, 0.2);
}
.swal-icon--success__line {
  background-color: #54b56e;
}
.swal-icon--error {
  border-color: #ed6077;
}
.swal-icon--error__line {
  background-color: #ed6077;
}
.swal-overlay {
  background-color: rgba(1, 32, 43, 0.5);
}
@media screen and (min-width: 768px) {
  .swal-button:not([disabled]):hover {
    background-color: #fff;
    color: ff9a19;
  }
  .swal-button--cancel:not([disabled]):hover {
    color: #fff;
    border-color: #a8adb5;
    background-color: #a8adb5;
  }
}

/* message
**************************************** */

/* --- erorr_list --- */
.error_list {
  background-color: rgba(239, 96, 119, .15);
  border: 2px solid rgba(238, 96, 119,.7);
  margin-bottom: 16px;
  border-radius: 5px;
}
.error_list li {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  color: #d64d63;
}
.error_list li:first-child {
  padding-top: 8px;
}
.error_list li:last-child {
  padding-bottom: 8px;
}
.error_list li .bx {
  transform: translateY(-1px);
  margin-right: 4px;
}

/* --- alert --- */
.alert {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
}
.alert .bx {
  margin-right: 8px;
  font-size: 130%;
}
.alert:not(:last-child) {
  margin-bottom: 6px;
}
.alert.alert-success {
  background-color: rgba(123, 204, 144, .15);
  border: 2px solid rgba(123, 204, 144, .7);
  color: #3a9c54;
}
.alert.alert-help {
  background-color: rgba(127, 191, 210, .15);
  border: 2px solid rgba(127, 191, 210, .7);
  color: #3c92ab;
}
.alert.alert-warning {
  background-color: rgba(246, 183, 60, .15);
  border: 2px solid rgba(246, 183, 60, .7);
  color: #d28d06;
}
.alert.alert-danger {
  background-color: rgba(239, 96, 119, .15);
  border: 2px solid rgba(238, 96, 119,.7);
  color: #d64d63;
}

/* icon
**************************************** */
.bx {
  vertical-align: middle;
}
.icon-issue {
  position: relative;
  margin-left: 8px;
}
.icon-issue small {
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 50%;
  top: 3px;
  transform: translateX(-50%);
  font-size: 57%;
}
.icon-issue .bx {
  margin-right: 0;
  font-size: 123%;
  color: rgba(236, 82, 117, 0.65);
}

/* loading
**************************************** */
div.loading {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
div.loading .bx {
  animation: loading_mov 1s linear 0s infinite normal;
  font-size: 500%;
  margin-right: 0;
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
}


/* ##############################################################################

    HEADER

############################################################################## */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 46px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff;
  z-index: 900;
  border-bottom: 1px solid #ececf1;
}
.header--logo {
  letter-spacing: 0pt;
  font-size: 220%;
  margin-right: 56px;
}
.header--logo img {
  height: 40px;
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 30px;
  vertical-align: middle;
}
.header--rgt .header--btns {
  margin-right: 32px;
}
.header--rgt .header--btns li:not(:last-child) {
  margin-right: 8px;
}
.header--btns .current button {
  color: #fff;
  background-color: #F29600;
}
.header--rgt .header--btns .current a {
  color: #a7abb1;
  background: transparent;
}

/* account_info
*************************************************** */
.account_info,
.category_set { height: 46px; }
.account_info--user {
  display: block;
}
.account_info--user .name {
  opacity: .8;
}
.account_info--user .bx-chevron-down {
  margin-left: 16px;
}
.account_info--user_icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-color: #F1F2F5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  color: #dedee0;
  vertical-align: middle;
}
.account_info--user_icon .bx {
  font-size: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-35%);
}
.header--subnav {
  position: absolute;
  right: -16px;
  top: 100%;
  width: 180px;
  background-color: #fff;
  box-shadow: 0 0 0 8px rgba(0,0,0,.1);
}
.header--subnav li:not(:last-child) {
  border-bottom: 1px solid #ececf1;
}
.header--subnav a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.header--subnav .bx {
  margin-right: 6px;
  color: #F29600;
  opacity: .7;
  transform: translateY(-1px);
}
.category_set {
  margin-right: 24px;
}
.header--subnav.category_set--nav {
  width: 150px;
  right: calc(50% - 75px);
}
.category_set p {
  font-size: 77%;
  letter-spacing: -.05em;
  line-height: 1em;
  text-align: center;
}
.category_set p .bx {
  display: block;
  font-size: 150%;
  opacity: .5;
  margin-bottom: 2px;
}
.category_set--nav a {
  padding-top: 3px;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .header--subnav {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }
  .account_info:hover .header--subnav,
  .category_set:hover .header--subnav {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
  .header--subnav a:hover {
    background-color: #FDF4E7;
  }
}
@media screen and (max-width: 768px) {
  .header--subnav {
    display: none;
  }
}


/* table
**************************************** */
#emptybloc, #emptyrow { display: none; }


/* ##############################################################################

    SIDE

############################################################################## */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding-top: 56px;
  border-right: 1px solid #ececf1;
  background-color: #fff;
  transform: translate(-200px);
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
aside.open {
  transform: translate(0);
}
.menu-trigger {
  padding-left: 5px;
  color: #fff;
  font-size: 150%;
  background-color: #f2aa11;
  border-right: 1px #f29600 solid;
}
.menu-trigger_open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 20px;
  height: 100%;
  cursor: pointer;
  vertical-align: middle;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 120%;
}
.menu-trigger_open.active {
  transform: translate(-100%);
}
.menu-trigger_close {
  width: 36px;
  height: 36px;
  margin-top: 16px;
  margin-left: 12px;
  border-radius: 50%;
}

/* gnav
**************************************** */
.gnav {
  padding-top: 16px;
}
.gnav:not(:last-child) {
  border-bottom: 1px solid #ececf1;
}
.gnav > li {
  position: relative;
  margin-bottom: 6px;
  /*padding-right: 12px;*/
  padding-bottom: 6px;
}
.gnav--link,
.gnav--child a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 16px;
  line-height: 1em;
  color: #3f464a;
}
.gnav--link .bx {
  margin-right: 8px;
  font-size: 121%;
  color: #F29600;
}
.gnav--link img {
  margin-left: 1px;
  margin-right: 11px;
  vertical-align: middle;
}
.gnav--link .bx-chevron-down {
  font-size: 100%;
  margin-left: auto;
  margin-right: 0;
}
.gnav .btn-open {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  color: rgba(242, 150, 0, .5);
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
}
.btn-open .bx {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  transform: rotate(-90deg);
}
.current .btn-open .bx {
  transform: rotate(0);
}
.current .btn-open,
.is_active .btn-open {
  pointer-events: none;
  color: #fff;
  background-color: #F29600;
}
.gnav--link {
  font-size: 100%;
  margin-bottom: 2px;
}

/* --- gnav--child --- */
.gnav--child {
  position: relative;
  margin-bottom: 8px;
}
.gnav--child::after {
  content: '';
  display: block;
}
.gnav--child a {
  margin-right: 10px;
  margin-bottom: 2px;
  padding-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0 50px 50px 0;
  font-size: 93%;
}
.gnav--sub_menu:not(.current) .gnav--child {
  display: none;
}
.gnav--sub_menu.current .gnav--child,
.gnav--sub_menu.is_active .gnav--child {
  display: block;
}
.gnav--sub_menu:not(.current) .gnav--child {
  position: absolute;
  left: 199px;
  top: 0;
  width: 200px;
}
.gnav--sub_menu:not(.current) .gnav--child a {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #FBEBD0;
}
.gnav--sub_menu:not(.current) .gnav--child a:not(:last-child) {
  border-bottom: 1px solid #eee;
}

/* --- current --- */
.gnav--link.current {
  background-color: rgba(9,43,56,.05);
}
.gnav--common .gnav--link.current,
.gnav--child .current {
  background-color: rgba(49,169,214,.15);
  color: rgb(25, 149, 195);
  font-weight: bold;
}
.current .gnav--link {
  background-color: rgba(49,169,214,.075);
}


/* ##############################################################################

    FOOTER

############################################################################## */
footer {
  margin-top: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 204px;
  padding-right: 24px;
  color: #a8afb9;
  border-top: 1px solid #ececf1;
}


/* ##############################################################################

    MAIN

############################################################################## */
main {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-right: 24px;
}
.main_contents {
  margin-left: 36px;
  flex: 1;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main_contents.open {
  transform: translateX(200px);
  margin-left: 24px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
  }
}

main .message_background {
  background-color: white;
  margin-bottom: 12px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5px;
}


main.auth-pane {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  padding: 24px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 5px;

  width: 270px;
  height: 400px;
}

/* ##############################################################################

    AUTH

############################################################################## */
.auth main {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 24px;
}
.auth .heading-1 {
  margin-bottom: 32px;
  line-height: 2em;
}
.auth .heading-1 .logo {
  font-size: 300%;
}
.auth .wht_bloc {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  padding-right: 56px;
}
.auth .form-group:last-child {
  margin-bottom: 32px;
}
.auth .form-group .help-block {
  display: block;
  font-size: 85%;
  margin-top: 4px;
  color: #ed6077;
}

/* ##############################################################################

    PLUGIN

############################################################################## */

/* Airdatepicker
*************************************************** */
.datepicker--nav {
  padding-top: 2px;
  padding-bottom: 2px;
}
.datepicker--day-name,
.datepicker--cell.-current- {
  color: #f29600;
}
.datepicker--day-name.-weekend-:nth-child(7),
.datepicker--day-name.-weekend-:nth-child(1) {
  color: #d3d7d7;
}
.datepicker--cell {
  height: 24px;
}
.datepicker--cell.-selected- {
  color: #fff;
  border: none;
  background: #f29600!important;
}

/* Select2
*************************************************** */
.select2-container--default .select2-selection--single {
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 32px;
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.set_orderby {
  cursor:pointer;
}

/* other settings
*************************************************** */
.red {
  color: red;
}

.required:after {
  color: red;
  font-weight: bold;
  content: " *";
}

.form-group input.seikyu_amount {
  max-width: 6.5em;
  min-width: 6.5em;
  padding: 9px 10px;
}
