/* ##############################################################################

    DEFAULT

############################################################################## */
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  font: 14px/1.231 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  padding-top: 46px;
  font-feature-settings: "palt";
  line-height: 1.8;
  letter-spacing: .02em;
  color: #444e4e;
  background-color: #f0f1f7;
  -webkit-font-smoothing: antialiased;
}
@media all and (-ms-high-contrast:none) {
  body {
    font-family: "メイリオ", Meiryo, 'Lato', YuGothic, '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  }
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol { list-style: none; }
small { font-size: 86%; }
a {
  color: #525d5d;
  text-decoration: none;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline : none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (min-width: 768px) {
  a {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  @-moz-document url-prefix() {
    * { font-feature-settings: "palt"; }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    * { font-feature-settings: "palt"; }
  }
}

@media only screen and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}


/* ##############################################################################

    ANIMATION

############################################################################## */

/* keyframes
*************************************************** */
@keyframes loading_mov {
  0% {
    transform: rotate(0deg);
    color: #f29600;
  }
  50% {
    transform: rotate(180deg);
    color: #BEFCFF;
  }
  100% {
    transform: rotate(360deg);
    color: #f29600;
  }
}
.ts4 { transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* ##############################################################################

    COMMON

############################################################################## */

/* show & hide / to_detail
**************************************** */
.startup,
.datatable {
  /*    display: none; */
}
.to_detail:hover {
  cursor: pointer;
}

/* layout
**************************************** */

/* --- float --- */
.flt-rgt { float: right; }
.flt-lft { float: left; }

/* --- position --- */
.pos_rel {
  position: relative;
  z-index: 0;
}

/* --- margin --- */
.mgn-btm8 { margin-bottom: 8px; }
.mgn-btm16 { margin-bottom: 16px; }
.mgn-btm24 { margin-bottom: 24px; }
.mgn-btm32 { margin-bottom: 32px; }
.mgn-btm40 { margin-bottom: 40px; }
.mgn-btm48 { margin-bottom: 48px; }
.mgn-btm56 { margin-bottom: 56px; }
.mgn-btm64 { margin-bottom: 64px; }
.mgn-btm72 { margin-bottom: 72px; }
.mgn-btm80 { margin-bottom: 80px; }

/* --- pc or sp --- */
.pc-none,
.pc-none-inline,
.pc-none-table,
.pc-none-flex { display: none; }
.sp-none { display: block; }
.sp-none-inline { display: inline; }
.sp-none-table { display: table; }
.sp-none-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and  (max-width: 767px) {
  .inner { width: 86%; }
  .mgn-btm16 { margin-bottom: 8px; }
  .mgn-btm24 { margin-bottom: 16px; }
  .mgn-btm32 { margin-bottom: 16px; }
  .mgn-btm40 { margin-bottom: 24px; }
  .mgn-btm48 { margin-bottom: 24px; }
  .mgn-btm56 { margin-bottom: 32px; }
  .mgn-btm64 { margin-bottom: 32px; }
  .mgn-btm72 { margin-bottom: 40px; }
  .mgn-btm80 { margin-bottom: 40px; }
  .sp-none,
  .sp-none-inline,
  .sp-none-table,
  .sp-none-flex { display: none; }
  .pc-none { display: block; }
  .pc-none-inline { display: inline; }
  .pc-none-table { display: table; }
  .pc-none-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* flex
**************************************** */

/* --- ブロック要素 --- */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* --- インライン要素 --- */
.flex-inline {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* --- 逆向き --- */
.flex-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* --- 縦並び --- */
.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* --- 水平方向揃え --- */
.flex-j-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-j-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-j-ctr {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-j-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-j-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* --- 垂直方向揃え --- */
.flex-a-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-a-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex-a-ctr {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-a-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex-a-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* --- 子要素の折り返し設定 --- */
.flex-c-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-c-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* --- 子要素の複数行設定 --- */
.flex-c-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex-c-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex-c-start {
  -webkit-align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flex-c-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.flex-c-ctr {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.flex-c-baseline {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
}
.flex-c-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/* --- ざっくりflexレイアウト --- */
.flex-col2,
.flex-col3,
.flex-col4 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-col2 > * {
  width: 48.5%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.flex-col2 > *:nth-child(even) { margin-right: 0; }
.flex-col3 > * {
  width: 31.33%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.flex-col3 > *:nth-child(3n+3) { margin-right: 0; }
.flex-col4>* {
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.flex-col4 > *:nth-child(4n+4) { margin-right: 0; }

@media screen and (max-width: 768px) {

  /* --- 縦並び - sp --- */
  .flex-sp-block {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* --- ざっくりflexレイアウト - sp --- */
  .flex-sp-col2 > *,
  .flex-sp-col2.flex-col3 > *:nth-child(3n+3) {
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .flex-sp-col2 > *:nth-child(even) { margin-right: 0; }
  .flex-sp-col3 > *,
  .flex-sp-col3.flex-col4 > *:nth-child(4n+4) {
    width: 31.33%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .flex-sp-col3 > *:nth-child(3n+3) { margin-right: 0; }

}

/* wht_bloc
**************************************** */
.wht_bloc {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 5px;
}
.wht_bloc:not(:last-child) {
  margin-bottom: 12px;
}

/* ttl
**************************************** */
.heading-1 {
  font-size: 139%;
  color: #f29600;
  margin-bottom: 6px;
}
.heading-2 {
  font-size: 116%;
  margin-bottom: 6px;
}
.heading-1:not(:first-child),
.heading-2:not(:first-child) {
  margin-top: 16px;
}

/* txt
**************************************** */
.txt-ctr {
  text-align: center;
}
.txt-rgt {
  text-align: right;
}
.txt-lft {
  text-align: left !important;
}
.bold {
  font-weight: bold;
}

/* filter
**************************************** */
.filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}
.filter:not(:last-child) { margin-right: 24px; }
.filter dt {
  font-weight: bold;
  margin-right: 12px;
}
.filter dd {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 93%;
}
.filter input[type="radio"],
.filter input[type="checkbox"] { display: none !important; }
.filter label {
  position: relative;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
  line-height: 1em;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}
.form-group:not(.flex) .filter label {
  margin-bottom: 0;
}
.filter input[type="radio"]:checked + label,
.filter input[type="checkbox"]:checked + label {
  background-color: #f29600;
  color: #fff;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .filter input[type="radio"] + label:hover,
  .filter input[type="checkbox"] + label:hover {
    color: #f29600;
  }
  .filter input[type="radio"]:checked + label:hover,
  .filter input[type="checkbox"]:checked + label:hover {
    color: #fff;
  }
}

/* btn
**************************************** */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #f29600;
  border-radius: 3px;
  background: #f29600;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 93%;
  outline: none;
  cursor: pointer;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* --- btn-style --- */
button.btn-line,
button.btn-flat {
  background: transparent;
  border: 1px solid;
  color: #f29600;
}
button.btn-flat {
  border: none;
}
.btn-txt {
  text-decoration: underline;
  opacity: .7;
}

/* --- btn-size --- */
button.btn-lg {
  font-size: 116%;
  height: 41px;
  line-height: 41px;
}
button.btn-sm {
  padding-left: 8px;
  padding-right: 8px;
  height: 24px;
  line-height: 24px;
  font-size: 85%;
}
button.btn-full {
  width: 100%;
}

/* --- btn-color --- */
button.btn-info {
  background: #8f9292;
  border-color: #8f9292;
}
button.btn-warning {
  background: #f7b73c;
  border-color: #f7b73c;
}
button.btn-danger {
  background: #ed6077;
  border-color: #ed6077;
}
button.btn-info.btn-line,
button.btn-warning.btn-line,
button.btn-danger.btn-line,
button.btn-info.btn-flat,
button.btn-warning.btn-flat,
button.btn-danger.btn-flat {
  background: transparent;
}
button.btn-info.btn-line,
button.btn-info.btn-flat {
  color: #6f7272;
}
button.btn-warning.btn-line,
button.btn-warning.btn-flat {
  color: #f7b73c;
}
button.btn-danger.btn-line,
button.btn-danger.btn-flat {
  color: #ed6077;
}
button .bx {
  transform: translateY(-2px);
  font-size: 124%;
  margin-right: 4px;
}
button .bxs-user-plus {
  font-size: 149%;
}

.is_disabled {
  opacity: .5;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  button:hover {
    background: transparent;
    color: #f29600;
  }
  button.btn-line:hover {
    background: rgba(8, 186, 194, 0.1);
  }
  button.btn-flat:hover {
    opacity: .5;
  }
  button.btn-info:hover {
    color: #bfc2c2;
  }
  button.btn-warning:hover {
    color: #f7b73c;
  }
  button.btn-danger:hover {
    color: #ed6077;
  }
  button.btn-info.btn-line:hover {
    background: rgba(191, 194, 194, 0.1);
  }
  button.btn-warning.btn-line:hover {
    background: rgba(247, 183, 60, 0.1);
  }
  button.btn-danger.btn-line:hover {
    background: rgba(237, 96, 119, 0.1);
  }
  .btn-txt:hover {
    text-decoration: none;
    opacity: 1;
  }
}

/* --- btn_list --- */
.btn_list button:not(:last-child) { margin-right: 4px; }

.datatable.btn_list { margin-top: 16px; }

/* swal-button (sweat alert)
**************************************** */
.swal-button {
  height: 41px;
  line-height: 41px;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #31a9d6;
  border-radius: 3px;
  background-color: #31a9d6;
}
.swal-button--cancel {
  background-color: #f2f3f5;
  border-color: #f2f3f5;
  color: #a8adb5;
}
.swal-footer {
  text-align: center;
  margin-bottom: 16px;
}
.swal-icon--success__ring {
  border: 4px solid rgba(84, 181, 110, 0.2);
}
.swal-icon--success__line {
  background-color: #54b56e;
}
.swal-icon--error {
  border-color: #ed6077;
}
.swal-icon--error__line {
  background-color: #ed6077;
}
.swal-overlay {
  background-color: rgba(1, 32, 43, 0.5);
}
@media screen and (min-width: 768px) {
  .swal-button:not([disabled]):hover {
    background-color: #fff;
    color: #31a9d6;
  }
  .swal-button--cancel:not([disabled]):hover {
    color: #fff;
    border-color: #a8adb5;
    background-color: #a8adb5;
  }
}

/* pager
**************************************** */
.pager span {
  border: 1px solid #f29600;
  border-radius: 3px;
  background: #f29600;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  line-height: 1em;
  outline: none;
  cursor: pointer;
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pager span.active {
  pointer-events: none;
}
.pager span:not(.active) {
  background: transparent;
  color: #bfc2c2;
  border-color: #bfc2c2;
  border: 1px solid;
}
.pager span:not(:last-child) {
  margin-right: 3px;
}
.pager .bx {
  transform: translateY(-1px);
}
@media screen and (min-width: 768px) {
  .pager span:not(.current):hover {
    color: #f29600;
    border-color: #f29600;
  }
}

/* form
**************************************** */

/* --- style --- */
.form-group:not(:last-child) {
  margin-bottom: 16px;
}
.flex > .form-group:not(:last-child) {
  margin-bottom: 0;
}
.form-group label {
  display: block;
}
.form-group:not(.flex) label {
  margin-bottom: 4px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
  -webkit-appearance: none;
  max-width: 100%;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  background: none;
  border: none;
  border-radius: 3px;
  outline: none;
  vertical-align: middle;
  color: #525d5d;
  font-size: 108%;
  letter-spacing: .04em;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group select {
  min-width: 220px;
  padding-right: 20px;
  border: 1px solid #d3d7d7;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #d3d7d7;
  background-color: transparent;
  height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  padding-right: 20px;
  min-width: 220px;
  text-align: left;
  line-height: 37px;
}
.select2-dropdown {
  border-color: #d3d7d7;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #d3d7d7;
}
.select2-results__option {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.6em;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #efefef;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f29600;
  font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url(../images/common/icon-arrow.png);
  background-size: 8px 5px;
  background-repeat: no-repeat;
  background-position: left center;
  height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.form-group input.input-lg {
  min-width: 420px;
}
.form-group input.input-sm,
.form-group select.select-sm {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 100%;
  min-width: 160px;
}
.form-group select.select-sm {
  height: 30px;
}
.select-sm + .select2-container--default .select2-selection--single {
  height: 30px;
}
.select-sm + .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}
.select-sm + .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px;
  width: 18px;
}
.form-group input.input-full {
  min-width: 100%;
}
.form-group textarea {
  width: 100%;
  height: 8.4em;
  border: 1px solid #d3d7d7;
  line-height: 1.8em;
}
.form-group select {
  height: 37px;
  line-height: 1em;
  background-image: url(../images/common/icon-arrow.png);
  background-size: 8px 5px;
}
.form-group .input-num {
  color: #d3d7d7;
}
.form-group .input-num input:not(:last-child) {
  margin-right: 4px;
}
.form-group .input-num input:not(:first-child) {
  margin-left: 4px;
}
.form-group .input-num input[type="text"] {
  min-width: 4.6em;
}
.form-group input.datepicker-here {
  background-image: url(../images/common/icon-calendar.png);
  background-size: 15px 17px;
  min-width: 140px;
}
.form-group select,
.form-group input.datepicker-here {
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.form-group ul li input[type="radio"],
.form-group ul li input[type="checkbox"] { display: none !important; }
.form-group ul li label {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 8px 0 22px;
  vertical-align: top;
  line-height: 32px;
  cursor: pointer;
}
.form-group ul.flex li:not(:last-child) { margin-right: 16px; }
.form-group:not(.flex) ul li label {
  margin-bottom: 0;
}
.form-group ul li label:hover { opacity: .7; }
.form-group ul li label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #d3d7d7;
  left: 0;
  top: 8px;
}
.form-group ul li input[type="radio"] + label::before { border-radius: 10px; }
.form-group ul li input[type="radio"]:checked + label,
.form-group ul li input[type="checkbox"]:checked + label {
  color: #f29600;
  font-weight: bold;
}
.form-group ul li input[type="radio"]:checked + label::before,
.form-group ul li input[type="checkbox"]:checked + label::before {
  border-color: #f29600;
}
.form-group ul li input[type="radio"]:checked + label::before {
  background-color: #f29600;
}
.form-group ul li input[type="radio"]:checked + label::after,
.form-group ul li input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
}
.form-group ul li input[type="radio"]:checked + label::after {
  top: 13px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.form-group ul li input[type="checkbox"]:checked + label::after {
  top: 12px;
  left: 6px;
  width: 4px;
  height: 7px;
  border-right: 1px solid #f29600;
  border-bottom: 1px solid #f29600;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --- search --- */
.input-search {
  position: relative;
}
.input-search input[type="text"] {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-search button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 12px;
  padding-right: 8px;
}
.input-search .bx {
  top: 50%;
  left: 8px;
  margin-left: 4px;
  margin-right: 0;
  font-size: 120%;
  pointer-events: none;
}
.form-group.input-search input[type="text"],
.form-group .input-search input[type="text"] {
  width: 280px;
}

/* --- placeholder --- */
.form-group input:placeholder-shown,
.form-group textarea:placeholder-shown {
  color: #b5b9b9;
}
.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
  color: #b5b9b9;
}
.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
  color: #b5b9b9;
  opacity: 1;
}
.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
  color: #b5b9b9;
  opacity: 1;
}
.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
  color: #b5b9b9;
}

@media screen and (max-width: 768px) {
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="password"],
  .form-group select,
  .form-group input.input-lg {
    min-width: 100%;
  }
}

/* table-horizon
**************************************** */

/* --- default --- */
.table-horizon {
  width: calc(100% + 48px);
  transform: translateX(-24px);
}
.table-horizon > thead > tr {
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
}
.table-horizon > tbody > tr {
  border-bottom: 1px solid #efefef;
}
.table-horizon > thead > tr > th,
.table-horizon > tbody > tr > td {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: middle;
  white-space: nowrap;
}
.table-horizon > thead > tr > th {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 93%;
}
.table-horizon > tbody > tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-horizon > thead > tr > th.th_check,
.table-horizon > tbody > tr > td.td_check {
  width: 32px;
  cursor: pointer;
}
.table-horizon input[type="checkbox"] { display: none !important; }
.table-horizon input[type="checkbox"] + label {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 14px;
  vertical-align: top;
  pointer-events: none;
}
.table-horizon input[type="checkbox"] + label:hover { opacity: .7; }
.table-horizon input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #d3d7d7;
  left: 0;
  top: 0;
}
.table-horizon input[type="checkbox"]:checked + label {
  color: #f29600;
  font-weight: bold;
}
.table-horizon input[type="checkbox"]:checked + label::before {
  border-color: #f29600;
}
.table-horizon input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 3px;
  left: 5px;
  width: 4px;
  height: 7px;
  border-right: 1px solid #f29600;
  border-bottom: 1px solid #f29600;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --- table-striped --- */
.table-horizon.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fafafc;
}

/* --- table-sm --- */
.table-horizon.table-sm > thead > tr > th,
.table-horizon.table-sm > tbody > tr > td {
  padding-left: 12px;
  padding-right: 12px;
}
.table-horizon.table-sm > thead > tr > th {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 85%;
  text-align: center;
}
.table-horizon.table-sm > tbody > tr > td {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 93%;
  line-height: 1.2em;
}
.table-horizon.table-sm > thead > tr > th:not(:first-child),
.table-horizon.table-sm > tbody > tr > td:not(:first-child) {
  border-left: 1px solid #f4f4f4;
}

/* --- scroll_table --- */
.scroll_table {
  overflow-x: scroll;
  width: calc(100% + 48px);
  transform: translateX(-24px);
  max-height: 70vh;
}
.scroll_table .table-horizon {
  width: 100%;
  transform: translateX(0);
}

/* --- no_data --- */
.table-horizon.table-sm > tbody > tr.no_data > td {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: bold;
  opacity: .5;
}

.table-horizon .form-group input,
.table-horizon .form-group input.input-sm,
.table-horizon .form-group select,
.table-horizon .form-group select.select-sm,
.table-horizon .select2-container--default .select2-selection--single .select2-selection__rendered,
.table-horizon .select-sm + .select2-container--default .select2-selection--single .select2-selection__rendered {
  min-width: 100%;
}
.table-horizon .select-sm + .select2-container {
  display: block;
}

table .table-horizon {
  width: 100%;
  transform: none;
}

@media screen and (min-width: 768px) {
  .table-horizon tbody tr:hover { opacity: .7; }
}

/* table-vertical
**************************************** */
.table-vertical {
  width: 100%;
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
}
.table-vertical > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
.table-vertical > tbody > tr > th,
.table-vertical > tbody > tr > td {
  height: 64px;
  padding-top: 13px;
  padding-bottom: 13px;
  vertical-align: middle;
}
.table-vertical > tbody > tr > th {
  text-align: left;
  font-size: 93%;
  width: 160px;
  padding-right: 24px;
  white-space: nowrap;
  width: 15%;
}
.table-vertical > tbody > tr > td {
  width: 75%;
}
.table-vertical .scroll_table {
  width: 100%;
  transform: none;
}
.table-vertical > tbody > tr > td .table-vertical {
  border: none;
}
.table-vertical.table-sm > tbody > tr > th,
.table-vertical.table-sm > tbody > tr > td {
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-vertical.table-sm > tbody > tr > th {
  font-size: 86%;
}
@media screen and (max-width: 768px) {
  .table-vertical > tbody > tr > th,
  .table-vertical > tbody > tr > td {
    display: block;
    height: auto;
  }
  .table-vertical > tbody > tr > th {
    padding-top: 10px;
    padding-bottom: 3px;
  }
  .table-vertical > tbody > tr > td {
    padding-top: 3px;
  }
}

/* message
**************************************** */
.error_list {
  background-color: rgba(237, 96, 119, .1);
  margin-bottom: 16px;
  border: 2px solid rgba(237, 96, 119, .3);
}
.error_list li {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  color: #e0425c;
}
.error_list li:first-child {
  padding-top: 8px;
}
.error_list li:last-child {
  padding-bottom: 8px;
}
.error_list li .bx {
  transform: translateY(-1px);
  margin-right: 4px;
}

/* --- alert --- */
.alert {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
}
.alert .bx {
  margin-right: 8px;
  font-size: 130%;
}
.alert:not(:last-child) {
  margin-bottom: 6px;
}
.alert.alert-success {
  background-color: rgba(123, 204, 144, .15);
  border: 2px solid rgba(123, 204, 144, .7);
  color: #3a9c54;
}
.alert.alert-help {
  background-color: rgba(127, 191, 210, .15);
  border: 2px solid rgba(127, 191, 210, .7);
  color: #3c92ab;
}
.alert.alert-warning {
  background-color: rgba(246, 183, 60, .15);
  border: 2px solid rgba(246, 183, 60, .7);
  color: #d28d06;
}
.alert.alert-danger {
  background-color: rgba(239, 96, 119, .15);
  border: 2px solid rgba(238, 96, 119,.7);
  color: #d64d63;
}

/* icon
**************************************** */
.bx {
  vertical-align: middle;
}

/* loading
**************************************** */
.loading {
  position: relative;
}
main .loading-first {
  position: absolute;
  z-index: 1;
  width: calc(100% - 228px);
  pointer-events: none;
}
main .loading-first .form-group,
main .loading-first .btn_list {
  opacity: .5;
}
main .loading {
  position: absolute;
  right: -28px;
  top: calc(50% - 12px);
  margin-left: 16px;
  color: #f29600;
}
main .loading .bx {
  animation: loading_mov 1s linear 0s infinite normal;
}

/* ##############################################################################

    HEADER

############################################################################## */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 46px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: whitesmoke;
  z-index: 900;
  color: white;
}
.header a {
  color: black;
}
.header--logo {
  letter-spacing: 0pt;
  font-size: 220%;
  margin-right: 56px;
}
.header--logo img {
  height: 40px;
  margin-top: -7px;
  margin-left: 0px;
  margin-right: 30px;
  vertical-align: middle;
}
.header--lft--nav li {
  opacity: .7;
  font-size: 108%;
}
.header--lft--nav li:not(:last-child) {
  margin-right: 32px;
}
.header--lft--nav li .bx {
  margin-right: 6px;
  font-size: 121%;
  transform: translateY(-1px);
}

@media screen and (min-width: 768px) {
  .header--lft--nav li:hover {
    opacity: 1;
  }
}

/* account_info
*************************************************** */
.account_info,
.category_set { height: 46px; }
.account_info--user {
  display: block;
}
.account_info--user .name {
  opacity: .7;
}
.account_info--user .bx-chevron-down {
  margin-left: 16px;
}
.account_info--user_icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-color: #F1F2F5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  color: #dedee0;
  vertical-align: middle;
}
.account_info--user_icon .bx {
  font-size: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-35%);
}
.account_info--nav a {
  color: #444e4e;
}
.header--subnav {
  position: absolute;
  right: -16px;
  top: 100%;
  width: 180px;
  /* margin-top: 8px; */
  background-color: #fff;
  box-shadow: 0 0 0 8px rgba(0,0,0,.1);
}
.header--subnav li:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
.header--subnav a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}
.header--subnav .bx {
  margin-right: 6px;
  color: #f29600;
  opacity: .7;
  transform: translateY(-1px);
}
.category_set {
  margin-right: 24px;
}
.header--subnav.category_set--nav {
  width: 150px;
  right: calc(50% - 75px);
}
.category_set p {
  font-size: 77%;
  letter-spacing: -.05em;
  line-height: 1em;
  text-align: center;
}
.category_set p .bx {
  display: block;
  font-size: 150%;
  opacity: .5;
  margin-bottom: 2px;
}
.category_set--nav a {
  padding-top: 3px;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .header--subnav {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }
  .account_info:hover .header--subnav,
  .category_set:hover .header--subnav {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
  .header--subnav a:hover {
    background-color: rgba(8, 186, 194, 0.1);
  }
}
@media screen and (max-width: 768px) {
  .header--subnav {
    display: none;
  }
}

/* auth_list
*************************************************** */
.auth_list li {
  opacity: .7;
}
.auth_list li:not(:last-child) {
  margin-right: 24px;
}
.auth_list li .bx {
  margin-right: 6px;
  font-size: 121%;
  transform: translateY(-1px);
}
@media screen and (min-width: 768px) {
  .auth_list li:hover {
    opacity: 1;
  }
}

/* table
**************************************** */
#emptybloc, #emptyrow { display: none; }

/* ##############################################################################

    SIDE

############################################################################## */
aside {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 46px;
  z-index: 890;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #efefef;
  background-color: #2d3131;
}
/*
  @media screen and (max-width: 768px) {
    aside {
      top: auto;
      top: initial;
      bottom: 0;
      padding-top: 0;
      width: 100%;
      height: auto;
    }
  }
*/

/* gnav
**************************************** */
.gnav {
  padding-top: 16px;
}
.gnav > li {
  position: relative;
  margin-bottom: 8px;
}
.gnav a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 1em;
  font-weight: bold;
  color: rgba(255,255,255,.5);
}
.gnav a .bx {
  margin-right: 6px;
  font-size: 121%;
}
.gnav a .bx-chevron-down {
  font-size: 100%;
  margin-left: auto;
  margin-right: 0;
}
.gnav li .btn-open {
  position: absolute;
  right: 8px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  color: rgba(255,255,255,.5);
  transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}
.gnav li .btn-open.is_active {
  transform: rotate(180deg);
}
.gnav li .btn-open .bx {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}
.gnav > li > a {
  font-size: 108%;
}
.gnav > li > ul > li > a {
  padding-left: 48px;
}

/* --- gnav--child --- */
.gnav--child {
  display: none;
}
.gnav > li > a.current + .btn-open {
  pointer-events: none;
  transform: rotate(180deg);
}
.gnav > li > a.current + .btn-open + .gnav--child {
  display: block;
}

/* --- current --- */
.gnav > li > ul a.current {
  background-color: rgba(10,12,12,.2);
  color: rgba(255,255,255,1);
}
.gnav > li > a.current {
  background-color: rgba(10,12,12,.1);
  color: rgba(255,255,255,.8);
}

@media screen and (min-width: 768px) {
  .gnav a:hover {
    color: rgba(255,255,255,1);
  }
  .gnav li .btn-open:hover {
    color: #3f4343;
    background-color: rgba(255,255,255,.9);
  }
}


/* ##############################################################################

    FOOTER

############################################################################## */
footer {
  margin-top: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 204px;
  padding-right: 24px;
  color: #bfc2c2;
  border-top: 1px solid #efefef;
}


/* ##############################################################################

    MAIN

############################################################################## */
main {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 36px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
  }
}


main.auth-pane {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  padding: 24px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 5px;

  width: 270px;
  height: 400px;
}

/* ##############################################################################

    AUTH

############################################################################## */
.auth main {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-left: 24px;
}
.auth .heading-1 {
  margin-bottom: 32px;
  line-height: 2em;
}
.auth .heading-1 .logo {
  font-size: 300%;
}
.auth .wht_bloc {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  padding-right: 56px;
}
.auth .form-group:last-child {
  margin-bottom: 32px;
}
.auth .form-group .help-block {
  display: block;
  font-size: 85%;
  margin-top: 4px;
  color: #ed6077;
}

/* ##############################################################################

    PLUGIN

############################################################################## */

/* Airdatepicker
*************************************************** */
.datepicker--nav {
  padding-top: 2px;
  padding-bottom: 2px;
}
.datepicker--day-name,
.datepicker--cell.-current- {
  color: #f29600;
}
.datepicker--day-name.-weekend-:nth-child(7),
.datepicker--day-name.-weekend-:nth-child(1) {
  color: #d3d7d7;
}
.datepicker--cell {
  height: 24px;
}
.datepicker--cell.-selected- {
  color: #fff;
  border: none;
  background: #f29600!important;
}
