
.sp_jikan {}

.sp_jikan > div:first-child {
  width: 13% !important;
  padding-bottom: 8px;
}
.sp_jikan > div:nth-child(2) {
  width: 20% !important;
  padding-bottom: 8px;
}

.sp_jikan > ul > li {
  width: 30px !important;
  margin-right: 0 !important;
  padding: 0 24px 8px 24px;
  border-right: 1px solid #d3d7d7;
  border-bottom: 1px solid #d3d7d7;
  text-align: center;
}

.sp_jikan > ul > li:last-child {
  border-right: none;
}