@charset "utf-8";

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 999;
}
#modal {
    width: 420px;
    height: 360px;
    position: absolute;
    left: calc(50% - 210px);
    top: calc(50% - 180px);
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
    padding: 10px;
}
#modal-close {
    cursor: pointer;
}
#modal-panel {
    padding: 10px;
}
#change_submit_div {
    position: absolute;
    bottom: 20px;
    width: 100px;
    left: calc(50% - 50px);
}
#change_submit_div button {
    width: 100px;
}
.datepicker {
    z-index: 1010;
}
