@charset "utf-8";

table.table-note {
    max-width: 520px;
    border: 3px solid black;
}
table.table-note thead {
    border: 3px solid black;
}
table.table-note th,
table.table-note td {
    border: 1px solid black;
    height: 32px;
}
table.table-note th {
    background-color: #f8f3f3;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
table.table-note td {
    background-color: white;
    vertical-align: middle;
    text-align: center;
}
table.table-note .sm {
    width: 40px;
}
table.table-note .mn {
    width: 55px;
}
table.table-note .lg {
    width: 95px;
}
table.table-note .vlg {
    width: 120px;
}
table.table-note tr.header th {
    height: 24px;
}
table.table-note td.name {
    font-size: 18pt;
    line-height: 1.2;
    color: black;
}
table.table-note td.text {
    text-align: left;
    padding-left: 8px;
}
table.table-note td.inst_time {
    font-size: 9.5pt;
}
table.table-note td.inst_time .timer_start {
    width: 117px;
    height: 28px;
    margin: 1px;
    font-size: 14px;
    line-height: 22px;
}
table.table-note td.inst_time .timer_end {
    width: 55px;
    height: 28px;
    margin: 1px;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
}
table.table-note .remarks {
    border: 3px solid black;
    height: 120px;
}
table.table-note .remarks textarea {
    border: 0;
    margin: 7px 0 0 0;
    padding: 5px;
    width: 100%;
    height: 95%;
    font-size: 12pt;
    line-height: 16pt;
}

button.note_create {
    width: 170px;
    height: 31px;
}
button.note_addrow {
    width: 170px;
    height: 31px;
}

div#background-addrow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 999;
}
div#dialog-addrow {
    width: 420px;
    height: 400px;
    position: absolute;
    left: calc(50% - 210px);
    top: calc(50% - 200px);
    border-radius: 5px;
    background-color: white;
    z-index: 1000;
    padding: 10px;
}
div#addrow_panel {
    padding: 5px 10px;
}
div#addrow_text_div,
div#addrow_need_div,
div#addrow_kakomon_div {
    padding: 10px;
}
div#addrow_submit_div {
    position: absolute;
    bottom: 20px;
    width: 100px;
    left: calc(50% - 50px);
}
div#addrow_submit_div button {
    width: 100px;
}
#addrow_close {
    cursor: pointer;
}



table.table-note-right tbody th {
    padding: 3px 5px;
}
table.table-note-right tbody td {
    padding: 5px;
}

.add_memo {
    font-size:90%;
    color:#75D0ED/*982A1F*/;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    cursor:pointer;
}

