@charset "utf-8";

table.table-pif {
    max-width: 520px;
    border: 1px solid black;
}
table.table-pif thead {
    border: 1px solid black;
}
table.table-pif th,
table.table-pif td {
    border: 1px solid black;
    height: 30px;
    padding: 3px;
}
table.table-pif th {
    background-color: #f8f3f3;
    vertical-align: middle;
    text-align: center;
    /* font-weight: bold; */
    font-size: 75%;
}
table.table-pif td {
    background-color: white;
    vertical-align: middle;
    font-size: 85%;
}

table.table-pif th.daiji {
    color: #590000;
    background-color: #FFA4A4;
}
table.table-pif td.daiji {
    color: #590000;
    background-color: #FFD7D7;
}

table.table-pif textarea {
    height: 1.5em;
    padding: 1px;
    line-height: 1.1;
}

#form_pif > table.table-pif tr:not(.default_display) {
    display: none;
}

/* pif memos */
.add_memo_contents {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: white;
    overflow: scroll;
}

.pif_memo_edit {
    font-size: 85%;
}

.pif_memo_edit ul li:nth-child(2) { /* 登録ボタンの部分 */
    width:50%;
    padding-top:5px;
}

.pif_memo_henkou, .pif_memo_delete {
    color: #FF8135;
    cursor: pointer;
}
.pif_memo_list li {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #FFEEE3;
    background-color: #FFEEE3;
}
.pif_memo_list li .section_1 {
    font-size: 90%;
    line-height: 1.1 !important;
    margin-bottom: 0 !important;
    color: #FF8135;
}

.pif_editable {
    background-color: #FFE0D7 !important;
}
